{% extends "_base.html" %}
{% load static crispy_forms_tags i18n %}

{% block page_title %}{% trans 'Cart' %}{% endblock page_title %}

{% block content %}
    <div dir="rtl">
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area" style="padding: 90px 0; background-color: #f6f6f6;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="page-title">سبد خرید</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-4 mb-lg-0 mt-1">
                            <form class="cart-form" action="#">
                                <div class="table-content table-responsive">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>عکس محصول</th>
                                            <th class="text-left">نام محصول</th>
                                            <th>قیمت</th>
                                            <th>مقدار</th>
                                            <th>مجموع</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart %}
                                            <tr>
                                                <td class="product-remove text-left"><a href="#"><i
                                                        class="flaticon flaticon-cross"></i></a></td>
                                                <td class="product-thumbnail text-left">
                                                    <img src=""
                                                         alt="#">
                                                </td>
                                                <td class="product-name wide-column">
                                                    <h5><a href="product-details.html">{{ item.book_obj.title }}</a></h5>
                                                </td>
                                                <td class="product-price">
                                                    <span class="money">{{ item.book_obj.price }} تومان</span>
                                                </td>
                                                <td class="product-quantity">
                                                    <div class="quantity">
                                                        <input type="number"
                                                               class="quantity-input"
                                                               name="qty"
                                                               id="qty-1"
                                                               value="{{ item.quantity }}"
                                                               min="1">
                                                    </div>
                                                </td>
                                                <td class="product-total-price">
                                                    <span class="money">{{ item.book_obj.price }} تومان</span>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                                <div class="row no-gutters pt--20 mt-1">
                                    <div class="col-sm-6 text-sm-right">
                                        <button type="submit" class="btn btn-danger">خالی کردن سبد خرید</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-4">
                            <div class="cart-collaterals text-center">
                                <div class="cart-totals">
                                    <h3 class="font-size-14 font-weight-bold mb-3">مجموع</h3>
                                    <hr>
                                    <div class="cart-calculator">
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>مجموع</span>
                                            <span class="money">۳۴۶,۰۰۰ تومان</span>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>جمع کل</span>
                                            <span class="money">۳۴۶,۰۰۰ تومان</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mt-3">
                                    <div class="row">
                                        <div class="col text-center"> <!-- Use text-center class to center content -->
                                            <button type="submit" class="btn btn-success ">ثبت سفارش</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper End -->
    </div>

    <!-- ************************* JS Files ************************* -->
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}
