{% extends "_base.html" %}
{% load i18n %}
{% load humanize %}
{% block page_title %}{% trans 'My Orders' %}{% endblock page_title %}

{% block content %}
<div class="card" dir="rtl">
    <div class="card-header">
        <h1>{% trans 'My Orders' %}</h1>
    </div>
    <div class="card-body">
        {% if orders %}
            <div class="list-group">
                {% for order in orders %}
                    <a href="{% url 'order_receipt' order.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{% trans 'Order ID' %}: {{ order.id }}</h5>
                            <small>{{ order.datetime_created }}</small>
                        </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                {% trans 'You have no orders.' %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
