{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}{% trans 'AboutUs' %}{% endblock page_title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-7 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <h1 class="text-center">{% trans 'AboutUs' %}</h1>
            <hr>
            <h3>{% trans 'Introduction to the Bookstore Project' %}</h3>
            <p class="mt-3">
                {% blocktrans %}
                The bookstore project is an online platform for selling various printed and electronic books, aimed at
                providing easy and quick access to books for reading enthusiasts. This bookstore offers a wide
                collection of books in different categories, from literature and science to children's books and
                contemporary novels, allowing users to easily find and purchase their desired books.

                Project Goals
                Easy Access to Books: Creating an online platform where users can easily search for and purchase their
                desired books.
                Product Diversity: Offering a wide range of books in various topics and categories to meet the diverse
                needs of customers.
                Supporting Publishers and Authors: Collaborating with publishers and authors to introduce and sell new
                and popular books.
                Optimal User Experience: Providing a simple and user-friendly interface to facilitate the purchase
                process and increase customer satisfaction.
                This project, aimed at promoting reading culture and supporting the publishing industry, strives to
                become a reliable reference for book purchases accessible to the public.
                {% endblocktrans %}
            </p>
        </div>

    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js" crossorigin="anonymous"></script>

{% endblock content %}
