{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}{% trans 'Home' %}{% endblock page_title %}

{% block content %}
    <div class="container mt-5" dir="rtl">
        <!-- Hero Section -->
        <header class="jumbotron jumbotron-fluid rounded text-center"
                style="background: url('{% static 'icons/baner.avif' %}') no-repeat center center; background-size: cover; color: white; padding: 100px 0;">
            <div class="container">
                <h1 class="display-4">{% trans 'Welcome to KetabNo' %}</h1>
                <p class="lead">{% trans 'Discover a world of books and find your next favorite read!' %}</p>
                <a href="{% url 'book_list' %}" class="btn btn-primary btn-lg">{% trans 'Shop Now' %}</a>
            </div>
        </header>
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}
