{% extends "_base.html" %}

{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}

{% block page_title %}{% trans 'book' %} {{ book.title }}{% endblock page_title %}
{% block content %}

    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div class="shadow">
                                {% if book.cover %}
                                    <img src="{{ book.cover.url }}"
                                         class="img-fluid rounded-start" alt="...">
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{{ book.title }}</h1>
                            <h5 class="small my-1"><span class="text-muted">{% trans 'author' %}: </span>{{ book.author }}</h5>
                            {% if book.translator %}
                                <h5 class="small my-1"><span class="text-muted">{% trans 'translator' %}: </span>{{ book.translator }}</h5>
                            {% endif %}
                            <h5 class="small my-1"><span class="text-muted">{% trans 'publisher' %}: </span>{{ book.publisher }}</h5>
                            {% if book.user == user %}
                                <a href="{% url 'book_update' book.id %}" class="btn btn-warning btn-sm">{% trans 'edit' %}</a>
                                <span></span>
                                <a href="{% url 'book_delete' book.id %}" class="btn btn-danger btn-sm">{% trans 'delete' %}</a>
                            {% endif %}


                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ book.price|intcomma:False }} {% trans 'toman' %}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">
                        {{ book.description|linebreaksbr }}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">{% trans 'comments' %}:</h2>
                        {% if comments %}
                            {% for comment in comments %}
                                {% if comment.is_active %}
                                    <div class="border-bottom mb-3">
                                        <h5 class="mb-3">{{ comment.user }}</h5>

                                        {% if comment.recommend %}
                                            <p class="text-muted">{{ comment.datetime_created|date }} | {% trans 'I Recommend This Book' %}</p>
                                        {% else %}
                                            <p class="text-muted">{{ comment.datetime_created|date }} | {% trans "I Don't Recommend This Book" %}</p>
                                        {% endif %}
                                        <p>{{ comment.text|linebreaksbr }}</p>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% else %}
                            <div class="border-bottom mb-3">
                                <h5 class="mb-3">{% trans 'No Comment Found!' %}</h5>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    {% if user.is_authenticated %}
                        <div class="card shadow my-3 p-5 w-sm-75 w-100">
                            <h3>{% trans 'Enter Your Comment' %}</h3>
                            <form method="POST">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <button type="submit" class="btn btn-primary mt-3">{% trans 'Send' %}</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="card shadow my-3 p-5 w-sm-75 w-100">
                            <h3>{% trans 'Enter Your Comment' %}:</h3>
                            <h5>{% trans 'You Must Login To Create A Comment' %}</h5>
                            <a href="{% url 'account_login' %}">
                                <button class="btn btn-primary mt-2">{% trans 'login' %}</button>
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
