{% extends "_base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load i18n %}
{% load jalali_tags %}
{% load persian_translation_tags %}

{% block page_title %}{% trans 'book' %} {{ book.title }}{% endblock page_title %}
{% block content %}

    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div class="shadow">
                                {% if book.cover %}
                                    <img src="{{ book.cover.url }}"
                                         class="img-fluid rounded-start" alt="...">
                                {% else %}
                                    <img src="{% static 'icons/404.png' %}"
                                         class="img-fluid rounded-start" alt="...">
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{% trans 'book' %} {{ book.title|translate_number }}</h1>
                            <h5 class="small my-1"><span
                                    class="text-muted">{% trans 'author' %}: </span>{{ book.author }}</h5>
                            {% if book.translator %}
                                <h5 class="small my-1"><span
                                        class="text-muted">{% trans 'translator' %}: </span>{{ book.translator }}</h5>
                            {% endif %}
                            <h5 class="small my-1"><span
                                    class="text-muted">{% trans 'publisher' %}: </span>{{ book.publisher }}</h5>
                            {% if book.user == user %}
                                <a href="{% url 'book_update' book.id %}"
                                   class="btn btn-warning btn-sm">{% trans 'edit' %}</a>
                                <span></span>
                                <a href="{% url 'book_delete' book.id %}"
                                   class="btn btn-danger btn-sm">{% trans 'delete' %}</a>
                            {% endif %}

                            <form action="{% url 'cart:cart_add' book.id %}" method="POST">
                                {% csrf_token %}
                                <div class="quantity-wrapper d-flex justify-content-start">


                                    <div class="quantity mt-3">
                                        <input type="number"
                                               class="quantity-input"
                                               name="quantity"
                                               id="qty"
                                               value="0"
                                               value="{{ item.quantity }}"

                                               min="1"
                                               max="30">
                                    </div>
                                    <p>&ensp;</p>
                                    <button type="submit" class="btn btn-success border-0 text-light mt-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                                             fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                        </svg>
                                    </button>
                                </div>

                            </form>

                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ book.price|intcomma:False|translate_number }} {% trans 'toman' %}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">
                        {{ book.description|translate_number|linebreaksbr }}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">{% trans 'comments' %}:</h2>
                        {% if comments %}
                            {% for comment in comments %}
                                {% if comment.is_active %}
                                    <div class="border-bottom mb-3">
                                        <h5 class="mb-3">{{ comment.user|capfirst }}</h5>

                                        {% if comment.recommend %}
                                            <p class="text-muted">{{ comment.datetime_created|to_jalali:'%Y/%m/%d'|translate_number }}
                                                | {% trans 'I Recommend This Book' %}</p>
                                        {% else %}
                                            <p class="text-muted">{{ comment.datetime_created|to_jalali:'%Y/%m/%d'|translate_number }}
                                                | {% trans "I Don't Recommend This Book" %}</p>
                                        {% endif %}
                                        <p>{{ comment.text|translate_number|linebreaksbr }}</p>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% else %}
                            <div class="border-bottom mb-3">
                                <h5 class="mb-3">{% trans 'No Comment Found!' %}</h5>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    {% if user.is_authenticated %}
                        <div class="card shadow my-3 p-5 w-sm-75 w-100">
                            <h3>{% trans 'Enter Your Comment' %}</h3>
                            <form method="POST">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <button type="submit" class="btn btn-primary mt-3">{% trans 'Send' %}</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="card shadow my-3 p-5 w-sm-75 w-100">
                            <h3>{% trans 'Enter Your Comment' %}:</h3>
                            <h5>{% trans 'You Must Login To Create A Comment' %}</h5>
                            <a href="{% url 'account_login' %}">
                                <button class="btn btn-primary mt-2">{% trans 'login' %}</button>
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
